@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #857E61;
    --accent1-color: #d8dbdb;
    --accent2-color: #FFC847;

    --heading-font:'Poppins', sans-serif;
    --paragraph-font:'Didact Gothic', sans-serif;

    --nav-background-color: #A62639;
    --nav-link-color: #4c1eb8;
    --nav-hover-link-color: #a6faf3;
    --nav-hover-background-color: #A62639;
}
main {
	max-width: 800px;
}
body {
    max-width: 960px;
    padding: 20px;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
.hero {
    position: relative;
}
div img {
    width: 960px;
    height: auto;
}
a:link, visited, hover, active {
    text-decoration: none;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: -10px;
    right: -152px;
    background: rgba(2, 1, 0, .3);
	border: 1px solid #000;
	padding-left: 20rem;
    padding-right: 20rem
}
article {
    position: absolute;
    top: 75px;
    right: -160px;
    background: radial-gradient(#eee, #4567aa);
	background: rgba(73, 86, 163, 0.8);
    border: 1px solid #000;
	padding: 0.1rem;
}
article img {
    float: right;
    width: 200px;
    height: auto;
}