@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #66614d;
    --accent1-color: #d8dbdb;
    --accent2-color: #FFC847;

    --heading-font:'Poppins', sans-serif;
    --paragraph-font:'Didact Gothic', sans-serif;

    --nav-background-color: #A62639;
    --nav-link-color: #4c1eb8;
    --nav-hover-link-color: #a6faf3;
    --nav-hover-background-color: #A62639;
}
header, main, footer, .hero img {
    max-width: 840px;
    margin: 0 auto;
}
main {
}
body {
    padding: 20px;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: -10px;
    right: 25px;
    background: rgba(2, 1, 0, .3);
	border: 1px solid #000;
	padding-left: 15rem;
    padding-right: 15rem
}
.new {
    position: absolute;
    top: 200px;
    right: 350px;
    background: rgba(2, 1, 0, 0.521);
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-self: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header img {
    padding-left: 3rem;
}
p {
    padding: 1rem;
}
.hero {
    position: relative;
}
div img {
    width: 960px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 20px; */
}
nav a {
    color: rgb(31, 30, 30);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-color);
}
article {
    position: absolute;
    top: 70px;
    right: 0px;
    /* background: radial-gradient(#eee, #4567aa); */
	background: rgba(97, 114, 211, 0.719);
    border: 1px solid #000;
	padding: 0.1rem;
}
article img {
    float: right;
    width: 150px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.hist {
    background: rgba(73, 86, 163, 0);
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hist img {
    float: left;
    width: 200px;
    height: auto;
    margin: .1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.adven {
    background: rgba(73, 86, 163, 0);
    border: 1px solid #000;
	/* padding: 0.1rem; */
}
.img {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content:flex-start;
}
.images {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content:center;
    
}
/* .people {
    max-width: 1000px;
    height: auto;
} */
figure img {
    width: 90px;
    height: auto;
    justify-content: flex-start;
}
figcaption {
    font-size: .8rem;
    font-weight: 525;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Contact Us */
.where {
    background: rgba(73, 86, 163, 0);
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.who {
    background: rgba(73, 86, 163, 0);
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fform {
    background: rgba(73, 86, 163, 0);
    border: 1px solid #000;
	padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.map {
    padding: 1rem;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .75rem;
    background-color: #f0e8e8;
    display: grid;
    margin-bottom: 1rem;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .75rem;
    padding: 1rem;
    border: .5px solid rgba(0, 0, 0, 0.4);
}
legend {
    padding: .3rem;
    color:rgb(64, 64, 148);
    font-size: 1.2rem;
}
label {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 1rem;
    background-color:rgb(64, 64, 148);
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: rgb(67, 159, 212);
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.column1 {
    grid-template-columns: 3fr 2fr;
    /* margin: 0.5rem 0; */
}