@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins;
    font-size: 1rem;
    color: #333;
    background: #ffffff;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: .75rem;
    font-size: 2rem;
    color: rgb(64, 64, 148);
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .75rem;
    background-color: #f0e8e8;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .75rem;
    padding: 1rem;
    border: .5px solid rgba(0, 0, 0, 0.4);
}
legend {
    padding: .3rem;
    color:rgb(64, 64, 148);
    font-size: 1.2rem;
}
label {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
button {
    margin: 1rem;
    background-color:rgb(64, 64, 148);
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2reml
}
button:hover {
    background-color: rgb(67, 159, 212);
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
}
